.row-container {
  display: flex;
  gap: 0.25rem;
}
.row-container span {
  display: flex;
  border: 1px solid #cbd5e1;
  padding: 0.5rem;
  border-radius: 10%;
  width: 5.625rem;
  height: 5.625rem;
  align-items: center;
  justify-content: center;
  font-family: Nunito;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;

  text-transform: uppercase;
}

.includes {
  background: #CA8A04 !important; 
}

.clutch {
  background: #047857 !important ; 
}

.default {
  background: #64748B;
}

@media (max-width: 575px) {
  .row-container span {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 420px) {
  .row-container span {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
  }
}
