.container {
  width: 100%;
  background-color: #eff4ff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  margin-inline: auto;
  /* max-width: 80rem; */
  /* height: 4rem; */
}

.title {
  color: black;
  font-family: var(--nunito);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  text-decoration: none;
  /* padding: 1rem; */
}

.language-container {
  display: flex;
  gap: 0.25rem;
  /* min-width: 17.0625rem; */
  justify-content: flex-end;
  /* justify-content: center; */
  align-items: center;
}

.project {
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  border: 1px solid #1d58d8;

  color: #1d58d8;
  font-family: var(--nunito);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 100% */
}

@media (max-width: 400px) {
  .language-container {
    flex-direction: column;
  }
}